table {
    margin: 10px auto;
    margin-top: 8rem;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: black;
    color: white;
}

thead th {
    background-color: rgb(75, 75, 75);
    margin: 0;
    height: 1rem;
    font-weight: bold;
}

tr:first-child th {
    background-color: black;
    color: white;
    padding: 0.75rem;
}

caption {
    caption-side: bottom;
}

tbody tr:nth-child(2) {
    background-color: #d6d6d6;
}

#blank {
    background-color: black;
}

td,
th {
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

tbody td:first-child {
    font-weight: bold;
}