@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Short+Stack&display=swap');

:root {
    --primary-color: #D8786D;
    --secondary-color: #f5ba7f;
    --background-color: #fbe1c9;
    --accent-color: #622227;
    --header-font: "Montserrat";
    --main-font: "Short Stack";
}

body {
    font-family: var(--main-font);
    width: 100%;
}

h1,
h2,
h3,
nav {
    font-family: var(--header-font);
}

#banner {
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
    background-color: var(--accent-color);
    padding: 0.75rem;
    color: var(--secondary-color);
}

#banner.close {
    display: none;
}

#bannerButton {
    position: absolute;
    background-color: var(--secondary-color);
    right: 45px;
    top: 25px;
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.25rem;
}

header {
    background-color: var(--primary-color);
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

nav {
    width: 100%;
    display: block;
    grid-column: 1/4;
}

nav a {
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    font-size: 1.4rem;
    display: none;
    text-align: center;
    font-weight: bold;
    padding: 0.3rem;
}

.open a {
    display: block;
}

.menu {
    background: none;
    border: none;
    position: absolute;
    right: 35px;
    top: 10px;
    margin-top: 1rem;
    font-size: 2.5rem;
    color: var(--accent-color);
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "✖";
}

.logo {
    width: 125px;
    padding: 0.75rem;
    grid-column: 2/3;
    margin: auto;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-button {
    position: absolute;
    font-size: 0.9rem;
    z-index: 10;
    color: var(--accent-color);
    font-weight: bold;
    background-color: rgb(237, 182, 128, 0.9);
    text-decoration: none;
    border-radius: 10px;
    padding: 0.75rem;
    top: 40%;
    margin: 0.75rem;
}

main {
    text-align: center;
}

.main-content {
    width: 75%;
    margin: auto;
}

.main-content p {
    margin-bottom: 2rem;
}

.hero h1 {
    position: absolute;
    font-size: 1.5rem;
    z-index: 10;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px var(--accent-color);
    width: 75%;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

#weather {
    background-color: var(--secondary-color);
    width: 75%;
    margin: auto;
    padding: 0.65rem;
    border-radius: 10px;
    margin-bottom: 2.5rem;
}

#weather h2 {
    margin-bottom: 5px;
}

#title-icon {
    display: flex;
    justify-content: center;
}

#temp-desc {
    margin-top: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: 2.25rem 1.5rem;
}

table thead tr:first-child th:first-child {
    padding: 1rem;
    background-color: var(--accent-color);
    color: white;
}

table thead tr:nth-child(2) th {
    background-color: var(--primary-color);
    color: var(--accent-color)
}

tr:nth-child(even) {
    background-color: var(--secondary-color)
}

tr:nth-child(odd) {
    background-color: var(--background-color)
}

#reservations h1 {
    margin: 2rem auto 0;
    width: 70%;
    font-size: 1.5rem;
}

ul {
    margin-bottom: 1.5rem;
}

li {
    text-align: left;
    width: 90%;
    margin: auto;
}

#rentals h1 {
    margin-top: 2rem;
    color: var(--accent-color);
    padding-bottom: 0;
    font-size: 1.5rem;
}

#rentals table {
    margin: 1rem 1.5rem 2rem;
}

#contact p {
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 0.25rem;
}

#contact ul p:last-child {
    padding: 5rem;
}

#contact-us {
    width: 75%;
    margin: 1rem auto 2rem;
    text-align: left;
}

#contact-us input {
    width: 200px;
    margin-left: 10px;
}

#send-message {
    display: flex;
    margin: 2rem auto 0;
}

table label:last-of-type {
    margin-left: 0;
    margin: auto;
}

#reservations fieldset {
    margin: 1.5rem auto;
    width: 60%;
    text-align: left;
    padding-bottom: 1rem;
    background-color: var(--background-color);
    color: var(--accent-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--primary-color);
}

#reservations img {
    width: 80%;
    height: auto;
}

#contact-us fieldset {
    background-color: var(--background-color);
    color: var(--accent-color);
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--primary-color);
}

#contact-us p {
    width: 80%;
}

#contact h1 {
    margin-top: 2rem;
    color: var(--accent-color);
    font-size: 1.5rem;
}

label {
    margin: 1rem 0 0;
    display: block;
    margin-left: 10px;
}

#reserve-vehicle {
    background-color: var(--accent-color);
    color: white;
    margin-bottom: 1rem;
    border-radius: 6px;
    padding: 0.5rem;
    font-weight: bold;
}

#contact iframe {
    width: 90%;
    height: 400px;
    margin: auto;
    text-align: center;
}


caption {
    caption-side: bottom;
}

#thank-you {
    padding: 5rem 2rem;
    width: 75%;
    margin: auto;
    font-size: 1.25rem;
}

#thank-you h1 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

footer {
    background-color: var(--primary-color);
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: 2fr 1fr;
    padding: 0.75rem;
    text-align: center;
}

.active {
    background-color: var(--accent-color);
    padding: 1rem;
    color: var(--secondary-color);
}

footer .logo {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
}

.footer-contact {
    grid-column: 2/3;
    font-size: 16px;
    grid-row: 1/2;
    width: 90%;
}

.site-details {
    grid-column: 1/3;
    grid-row: 2/3;
    display: block;
    width: 95%;
    margin: auto;
}

.social-media {
    width: 100%;
}

#facebook,
#instagram,
#twitter {
    width: 40px;
    margin: 5px;
    grid-column: 1/3;
}

footer a:last-of-type {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
}

#attributions {
    text-align: left;
    margin-right: auto;
    padding: 2rem;
}

#attributions ul {
    padding-left: 0;
}