@media screen and (min-width: 901px) {

    #banner h3 {
        font-size: 1.15rem;
    }

    .hero h1 {
        font-size: 2rem;
        text-shadow: 4px 4px 2px var(--accent-color);
    }

    #weather {
        width: 50%;
        grid-column: 1/3;
    }

    #rentals {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

    #rentals h1 {
        grid-column: 1/3;
        margin: 1.5rem 0rem;
        font-size: 1.75rem;
    }

    #reservations fieldset:first-of-type {
        margin: 2.5rem auto;
    }

    #reservations h2 {
        width: 80%;
        margin: 3.5rem auto 0;
        font-size: 1.5rem;
    }

    #reservations ul {
        margin-top: 6.5rem;
        font-size: 1.25rem;
    }

    #reservations img {
        width: 475px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }

    #contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #contact p,
    #contact ul {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #contact p:first-of-type {
        margin-top: 2rem;
    }

    #contact ul {
        margin-top: 5rem;
    }

    #contact li {
        margin: 1rem 1.5rem;
    }

    #contact-us {
        grid-column: 1/2;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 1rem;
        column-gap: 3rem;
        /* color: var(--secondary-color); */
    }

    .left-content {
        grid-column: 1/2;
        margin-top: 1.5rem;
    }

    .right-content {
        grid-column: 2/3;
        margin-top: 2.75rem;
        background-color: var(--background-color);
        padding: 1rem;
        border: 3px solid var(--primary-color);
        border-radius: 10px;
        height: 75%;
        width: 100%;
    }

    .right-content p {
        margin-bottom: 0;
    }

    .right-content h2 {
        margin-top: 0.5rem;
    }

    #contact iframe {
        grid-column: 1/3;
        width: 60%;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    footer {
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
    }

    .footer-contact {
        grid-column: 3/4;
        width: 100%;
    }

    footer .logo {
        grid-column: 2/3;
        width: 165px;
    }

    .site-details {
        grid-column: 2/4;
    }
}