@media screen and (min-width: 650px) {

    header {
        display: flex;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 125px;
        margin-left: 0.5rem;
        grid-column: 1/2;

    }

    h1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }


    nav {
        display: flex;
        flex-direction: row;
        margin: auto 1rem;
    }

    nav a {
        display: block;
        background-color: var(--primary-color);
        margin: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    .hero-button {
        font-size: 1.15rem;
        margin: 0;
        top: 35%;
    }

    #rentals table {
        width: 80%;
        margin: 2.5rem auto;
    }

    #reservations {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #reservations fieldset {
        width: 70%;
    }

    #reservations h2,
    #reservations ul {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #reservations ul {
        margin-top: 4rem;
    }

    #reservations form {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
    }

    #reservations h2 {
        width: 85%;
        margin: 2.5rem auto;
    }

    #reservations ul {
        margin-top: 6.5rem;
    }

    #contact-us {
        width: 50%;
    }

    #contact-us input,
    #contact-us textarea {
        width: 70%;
    }
}