@media screen and (min-width: 650px) {

    header {
        display: flex;
    }

    .menu {
        display: none;
    }

    .logo {
        width: 125px;
        margin-left: 0.5rem;
        grid-column: 1/2;

    }

    .hero h1 {
        grid-column: 2/3;
        grid-row: 1/2;
        font-size: 1.5rem;
    }


    nav {
        display: flex;
        flex-direction: row;
        margin: auto 1rem;
    }

    nav a {
        display: block;
        background-color: var(--primary-color);
        margin: auto;
    }

    .hero-button {
        font-size: 1.15rem;
        margin: 0;
        top: 35%;
    }

    #rentals table {
        width: 80%;
        margin: 1.25rem auto 2.5rem;
    }

    #rentals h1 {
        margin-top: 2.5rem;
        color: var(--accent-color);
        padding-bottom: 0;
        font-size: 1.5rem;
    }

    #reservations {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        grid-template-rows: auto auto;
    }

    #reservations fieldset {
        width: 70%;
    }

    #reservations h2,
    #reservations ul {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #reservations ul {
        margin-top: 6rem;
        margin-bottom: 0;
        padding-left: 1rem;
    }

    #reservations form {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 100%;
    }

    #reservations h2 {
        width: 85%;
        margin: 2rem auto 1rem;
    }

    #reservations li {
        padding: 3px;
        font-size: 16px;
    }

    #reservations img {
        width: 95%;
        grid-column: 2/3;
        grid-row: 2/3;
        margin-right: auto;
    }

    #contact-us {
        width: 50%;
    }

    #contact-us input,
    #contact-us textarea {
        width: 70%;
    }


}