@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Karla&display=swap');

header {
    background-color: #4f9b9e;
    font-family: 'Kanit', sans-serif;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 5rem;
    padding: 1rem;
}

header h1 {
    text-align: center;
    font-size: 140%;
    color: #274d4f;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.small-header {
    display: flex;
    align-items: center;
}

#menu {
    background: none;
    border: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2.25rem;
    color: #274d4f;
}

#menu::before {
    content: "☰";
    display: flex;
    align-items: center;
}

#menu.open::before {
    content: "✖";
}

.open a {
    display: block;
}

nav {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav a {
    display: none;
    background-color: #274d4f;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

nav a:hover {
    background-color: #366666;
}

main {
    font-family: 'Karla', sans-serif;
    color: #274d4f
}

.hero-section {
    position: relative;
}

#hero {
    width: 100%;
    display: block;
    position: relative;
}

#action {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #cfcfcfa3;
    border: 3px solid #000;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
}

.events img {
    display: none;
}

.section1,
.section3 {
    margin: 1.5rem;
    padding: 1rem;
    padding-top: 0;
    border: 1px solid gray;
    background-color: #cfcfcf;
}

.section1 p {
    border-bottom: 1px solid gray;
}

.section2 {
    width: 80%;
    margin: 1rem auto 2rem auto;

}

.section2 p {
    border: 1px solid gray;
    background-color: #cfcfcf;
    padding: 1rem;
}

.section-link {
    text-align: center;
    display: block;
    text-align: center;
    margin: 1rem auto 0 auto;
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "Kanit", sans-serif;
    text-align: center;
    border-bottom: 1px solid gray;
}

section p {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #4f9b9e;
    padding-top: 1rem;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    grid-gap: 1rem;
}

.footer-info {
    grid-column: 1/3;
    border-top: 1px solid black;
}

footer img {
    width: 7rem;
    display: flex;
    grid-column: 1/2;
    margin-top: 2.25rem;
    margin: auto;
}

.contact-info {
    grid-column: 2/3;
    margin: auto;
}

.site-name {
    font-weight: bold;
}