@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        border: 2px solid black;
    }

    header img {
        width: 8rem;
    }

    header h1 {
        font-size: 1.75rem;
        position: static;
        transform: none;
        margin-left: 4%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 200%;
    }

    nav a {
        display: block;
        background: none;
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

    #hero {
        width: 100%;
    }

    #action {
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #menu {
        display: none;
    }

    .section1,
    .section2,
    .section3 {
        width: 30%;
        margin: 2rem;
    }

    .section2 p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
    }

    footer {
        grid-template-columns: 1fr 2fr 1fr;
        padding: 1rem 2rem;
        text-align: left;
    }

    footer img {
        width: 8rem;
    }

    .footer-info {
        text-align: center;
    }
}