@media screen and (min-width: 650px) and (max-width: 950px) {
    header {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        position: relative;
        align-items: center;
    }

    body {
        overflow-x: hidden;
    }

    .small-header {
        width: 100%;
    }

    .title-break {
        display: none;
    }

    header img {
        width: 6rem;
        grid-column: 1/2;
        justify-self: center;
        z-index: 1;
    }

    header h1 {
        font-size: 2rem;
        z-index: 1;
        width: 60%;
    }

    nav {
        display: flex;
        flex-direction: row;
        grid-row: 2;
        grid-column: 1/2;
        width: 100%;
        z-index: 1;
        position: relative;
    }

    nav a {
        display: block;
    }

    .switch {
        top: 2rem;
        right: 2%;
        width: 42px;
        height: 26px;
    }

    .slider:before {
        height: 20px;
        width: 20px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #hero {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 0;
    }

    #action {
        font-size: 1.2rem;
        padding: 1rem;
    }

    main {
        padding-bottom: 2rem;
    }

    .spotlights,
    .events,
    .weather {
        width: 80%;
        margin: 1rem auto 2rem auto;
    }

    .spotlights {
        margin-top: 2.5rem;
    }

    .menu {
        display: none;
    }

    section.weather {
        margin-bottom: 1rem;
    }

    #discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 2rem;
        padding-bottom: 2rem;
        align-items: start;
    }

    #lastVisit {
        grid-column: 1/2;
        text-align: center;
    }

    .demographics {
        grid-column: 1/2;
        text-align: center;
        margin-left: 10%;
        margin-right: auto;
    }

    .demographics p {
        padding: 0.25rem;
    }

    .local-photos {
        grid-column: 2/3;
        width: 90%;
        margin-left: 5%;
        height: auto;
        justify-content: center;
    }

    .local-photos img:hover {
        opacity: .5;
    }

    .local-photos p {
        grid-column: 2/3;
        text-align: center;
        margin-bottom: 2rem;
    }

    .city-council {
        grid-column: 1/2;
    }

    .city-council p {
        padding: 0;
    }

    .left-content {
        width: 90%;
        margin-left: 5%;
        margin-right: auto;
    }

    .join {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    form {
        grid-column: 1/2;
    }

    .join {
        padding: 2rem;
    }

    #join-form {
        padding: 0;
        margin: auto;
        width: 90%;
    }

    #user-info,
    #business-info {
        padding: 0;
    }

    #membership-benefits th {
        padding: 0.5rem;
    }

    #membership-benefits td {
        padding: 0;
        margin: 0;
    }

    #membership-benefits {
        margin-left: auto;
        width: 95%;
        font-size: 1rem;
        height: 92.5%;
    }

    form input,
    form textarea {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #membership-benefits th,
    #membership-benefits tr {
        padding: 0.5rem;
    }

    label {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    select#benefit-level,
    label #benefit-level {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    #business-info label[for="benefit-level"] {
        margin-left: 0;
    }

    legend {
        margin-bottom: 1rem;
    }

    .dark-mode nav a {
        background-color: var(--accent-color);
        color: var(--secondary-color);
    }

    .list {
        display: flex;
        padding: 2rem 4rem;
    }

    #forecast-table {
        width: 90%;
        margin: auto;
    }

    #banner h3 {
        font-size: 1.25rem;
        padding: 1rem;
    }

    .spotlights .cards .card {
        width: 80%;
    }

    .spotlights img {
        margin: auto;
    }
}